html,body {
	margin:0px;
	padding: 0px;
}
form {
	margin: 0px;
	padding: 0px;
}
div {
	/*margin-top: 1vw;*/
	/*margin-right: 10px;*/
	padding: 5px;
}

/* input::placeholder {
    font-size: 1.5vw;
} */

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.nopad {
	margin: 0px;
	padding: 0px;
}
.clear {
	clear: both;
}
.imgfloat {
	float: left;
	vertical-align: middle;
}
.floatleft {
	float: left;
	margin-right: 20px;
	margin-top: 20px;
}
body {
	font-family: Arial, Arial, Helvetica, sans-serif;
	/*font-size: 95%;*/
}
.content {
	margin-left: 220px;
}
.floatright {
	float: right;
	margin-left: 20px;
}
.imgright {
	float: right;
	margin-left: 20px;
	margin-top: 20px;
}
div#logo {
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
}
div#logo img {
	vertical-align: middle;
}

div#header {
	clear: both;
	height: 75px;
	background-color: #9C6;
	margin: 0px;
	padding: 0px;
	border-left: 10px solid #036;
	border-bottom: 5px solid #036;
}

.vcenter {
	font-family: sans-serif;
	font-size: 180%; /*28px;*/
	margin: 0px;
	margin-left: 30px;
	padding-top: 25px;
	color: #fff;
}

#loginbox {
	display: flex;
	/*background-color: #EEEEFF;*/
	margin-right: 0px;
	margin-left: 1.5vw;
	margin-bottom: 10px;
	width: 30%;
	/*border: 1px solid #000000;*/
}

.login-input-box{
	width: 75%;
	height: 25%;
	display: flex;
	flex-direction: column;
}

@media (max-width: 600px) {
	.login-input-box{
		width: 95%;
		height: 25%;
		display: flex;
		flex-direction: column;
	}
}

.login-input{
	width: 100%;
	height: 40%;
	margin: 10px 0px;
	background-color: #DBDD80;
	border-radius: 5px;
	border: 1px #6d6d6d;
}



.login-input-box .login-input::placeholder{
	font-size: 1.1vw;
	/*color: red;*/
}
@media (max-width: 600px) {
	.login-input-box .login-input::placeholder {
		font-size: 2.5vw;
	}
}

.login-submit-btn-div{
	width: 75%;
	height: 10%;
	display: flex;
	flex-direction: column;
	margin-top: 1vw;
	padding: 0 2px;
}

@media (max-width: 600px) {
	.login-submit-btn-div{
		width: 95%;
		height: 10%;
		display: flex;
		flex-direction: column;
		margin-top: 2.5vw;
	}
}

.login-submit-btn{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: 1px #6d6d6d;
	padding: 0 0;
}

/*@media (max-width: 600px) {*/
/*	.login-submit-btn{*/
/*		font-size: 1.6vw;*/
/*	}*/
/*}*/

ul#navlist
{
clear: both;
padding: 0px;
margin: 0px;
margin-bottom: 3px;
list-style-type: none;
float: left;
width: 100%;
color: #fff;
background-color: #036;
}

ul#navlist li {
display: inline;
font-family: sans-serif;
font-size: 105%;
}

ul#navlist li a
{
float: left;
width: 5em;
color: #fff;
background-color: #036;
padding: 0.2em 2em;
text-decoration: none;
border-right: 1px solid #fff;
}

ul#navlist li a:hover
{
background-color: #369;
color: #fff;
}

#shortlogin {
	width: 100%;
	padding: 8px 5px 0px 15px;
	background-color: #cf9;
	color: #036;
	border-left: 10px solid #036;
}

.textright {
	text-align: right;
}
.ind {
	margin-left: 20px;
}
.nomark {
	list-style-type: none;
}
.nomark li {
	margin-bottom: 15px;
}
.mainbody {
	margin: 0px;
	padding: 0px;
}
.bordered {
	border-collapse: collapse;
}
.bordered td,.bordered th {
	border: 1px solid #000;
	padding: 10px 20px;
}

.headerwrapper, .midwrapper {
	margin: 0;
	padding: 0;
}

.signup-input{
	background-color: #dbdd80;
	width: 50%;
	height: auto;
	margin: 5px 0;
	border-radius: 5px;
	border: 1px #6d6d6d;
}

.popup-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1001;
}
.popup-content {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 80%;
	max-width: 500px;
	margin-bottom: 20px;
}
.popup-text{
	text-align: left;
}

.instructor-submit-btn{
	width: 300px;
	height: 35px;
	background-color: #dbdd80;
	margin: 5px 0;
	border-radius: 5px;
	border: 1px #6d6d6d;
	padding: 0px 0px;
}

.student-sign-up-button{
	width: 75%;
	height: 8%;
	background-color: #4CAF50;
	border: none;
	color: white;
	/*padding: 10px 20px;*/
	text-align: center;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1vw;
	margin-top: 1vw;
	/*margin-left: 0.3vw;*/
	cursor: pointer;
	border-radius: 5px;
}

@media (max-width: 600px) {
	.student-sign-up-button{
		width: 90%;
		height: 8%;
		font-size: 2vw;
		margin-top: 2vw;
		margin-left: 2px;
	}
}

@media (max-width: 600px) {
	.student-sign-up-button {
		font-size: 2.2vw;
	}
}

.popup-container {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}

.popup-content {
	/*display: flex;*/
	background: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	width: 80%;
	max-width: 600px;
}

@media (max-width: 600px) {
	.popup-content{
		padding: 5px;
		max-width: 350px;
		max-height: 85%;
		font-size: 2.5vw;
	}
}

.aboutLinks{
	display: flex;
	flex-direction: row;
	margin: 0 0;
	padding: 0 0;
	justify-content: space-between;
}

.login-copyright{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4vw;
}

.login-copyright p{
	font-size: 0.8vw;
}

@media (max-width: 600px) {
	.login-copyright p{
		font-size: 2vw;
	}
}

#login-header {
    display: flex;
    flex-direction: row;
    font-size: 1.2vw;
    background-color: #00BF63;
    color: white;
    justify-content: flex-start;
    width: 100%;
}

@media (max-width: 600px) {
	#login-header {
		font-size: 2.5vw;
	}
}

#logo {
	display: flex;
	flex-direction: column;
}

#header-title{
	font-size:1.8vw;
	margin-bottom: 10px;
	font-family: Comic Sans MS;
	font-weight: bold;
}

@media (max-width: 600px) {
	#header-title {
		font-size: 2.5vw;
	}
}

#header-navi-link{
	margin-left: 8vw;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.ad-container {
    background: #bbbbbb;
    width: 100%;
    height:5vw;
	font-size: 1.5vw;
}


.reset-link{
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content:space-between;
	margin-top: 2vw;
	font-size: 1vw;
}

@media (max-width: 600px) {
	.reset-link{
		width: 100%;
		font-size: 1.8vw;
	}
}

.instructor-acc-link{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top: 1.5vw;
	font-size: 1.1vw;
}

@media (max-width: 600px) {
	.instructor-acc-link{
		font-size: 2vw;
	}
}

.login-content-div{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 90%;
}